<launch>

    <arg name="world_name" default="$(find steer_bot_gazebo)/worlds/tight_uturn.world" />
    <arg name="gui" default="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="$(arg world_name)"/>
        <arg name="gui" default="$(arg gui)"/>
    </include>

</launch>