<?xml version="1.0"?>

<launch>

	<!-- Map server -->
	<arg name="map_file" default="$(find steer_bot_navigation)/maps/tight_maps/map_res_001.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
	</node>

	<!-- Move base node -->

	<!-- Set the base_global_planner to navfn/NavfnROS for 
		default ROS global planner or to SBPLLatticePlanner
		for sbpl lattice global planner -->
	<arg name="base_global_planner" default="SBPLLatticePlanner"/>

	<!-- Set the base_local_planner to dwa_local_planner/DWAPlannerROS for 
		default ROS global planner or to teb_local_planner/TebLocalPlannerROS
		for teb local planner (used for ackermann steering / non-holonomic robots) -->
	<arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/>

	<arg name="motion_premitives_file" default="$(find steer_bot_navigation)/motion_premitives/map_res_001.mprim"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<param name="base_global_planner" value="$(arg base_global_planner)"/>
		<param name="base_local_planner" value="$(arg base_local_planner)"/>

		<!-- <rosparam file="$(find steer_bot_navigation)/config/planner.yaml" command="load"/> -->
		<!-- <rosparam file="$(find steer_bot_navigation)/config/move_base_params.yaml" command="load"/> -->
	
		<!-- Costmaps 2D -->		
		<rosparam file="$(find steer_bot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find steer_bot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find steer_bot_navigation)/config/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find steer_bot_navigation)/config/global_costmap_params.yaml" command="load"/>

		<!-- Local Planner -->
        <rosparam file="$(find steer_bot_navigation)/config/teb_local_planner_params.yaml" command="load" />
        
        <!-- Navfn Global Planner params -->
        <!-- <rosparam file="$(find steer_bot_navigation)/config/global_planner_params.yaml" command="load"/> -->
        
        <!-- SBPL Lattice Planner params -->
 		<param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl_lattice_planner)/matlab/mprim/pr2.mprim" />
 		<param name="SBPLLatticePlanner/primitive_filename" value="$(arg motion_premitives_file)" />
 		
        <rosparam file="$(find steer_bot_navigation)/config/sbpl_lattice_planner_params.yaml" command="load"/>


		<!-- <remap from="/cmd_vel" to="/steer_bot/ackermann_steering_controller/cmd_vel"/> -->
	</node>

</launch>

